#
#
config ASYNCHRO_MODULE_INIT
	tristate "Initialize module in Asynchronize way using single module dependencies"
	---help---
	Asynchrone drivers initialization routine 
	
if ASYNCHRO_MODULE_INIT
	config ASYNCHRO_MODULE_INIT_DEBUG
	bool "Debug mode"
	
config ASYNCHRO_MODULE_INIT_THREADS	
	int "Maximum number of threads"
	range 1 4
	default "2" 
endif