#
# NVidia ION Display controller
#
config NVIDIA_ION
	tristate "Nvidia ION LE for netbook"
	select DRM
	---help---
	Nvida ion is the video card for 311c

if NVIDIA_ION

config NVIDIA_UVM
	bool "Enable CUDA Support"
	default n

if NVIDIA_UVM

config NVIDIA_ION_UVM_LITE
	bool "Enable lite mode"
	default n
	
config NVIDIA_ION_UVM_NEXT
	bool "Enable uvm next mode"
	default n
	
endif #NVIDIA_UVM	


endif # NVIDIA_ION
